/* your styles go here */
/* Margen para que todo el contenido baje y no sea opacado por el navbar*/
.nopadding {
   padding: 1px !important;
   margin: 0 !important;
}
.header
{
    margin-bottom: 125px;
}
.breadcrumb-holder
{
    z-index:50;
    margin-top:45px;
  height: 90px;
    padding: 0px;
    padding-top: 25px;
}
.breadcrumb
{
    margin-left:200px;
  
}
.employeebar
{
   margin-left:250px;
   background: white;
}
.nav-link
{
    font-size:12px;
}
.side-menu
{
    font-size:14px;
}
.card
{
    border: 1px solid;
    border-color:rgb(228, 228, 228);
    padding: 5px;
    margin-bottom: 10px;

}
.companyname
{
    padding-left:30px;
    color:white;
    font-size: 16px;
}
.labelsup
{
    font-size: 8px;
}
.table{
    padding: -10px;
}

.datepicker,
.table-condensed {
  /*width: 300px;
  height:200px;*/
}
.headercolums
{
    margin-left: 180px;
}
.colum1
{
padding: 5px;

width: 25%;
}
.colum2
{
padding: 5px;

width: 55%;
}
.colum3
{

padding: 5px;

width: 20%;
}
.subtitle
{
  padding: 10px;
  margin-bottom: -30px;
}
.v-select .dropdown-toggle {
display: flex !important;
flex-wrap: wrap;}

.v-select input[type=search], .v-select input[type=search]:focus {
flex-basis: 20px;
flex-grow: 1;
height: 40px;

padding: 0 20px 0 10px;
width: 100% !important;
}
.tablesicoss
{
  font-size: 11px;
}


