

table, th, td {
    border:  1px solid black;
    border-collapse: collapse;
    border-color: #7b1a1a;


}

table, th, td {
    border:  1px solid black;

    border-collapse: collapse;
    border-color: #7b1a1a;


}


.titulo{
    text-align: left;
    font-size: 18px;

    font-weight: 700;

}

.negrita{
    font-weight: 700;
}

.nombres{
font-size: 20px;
}
.cuit{
    text-align: left;
}

.centrar{
    text-align: center;
         line-height: normal;
}
.quitar-superior{
    border-top: none;
}
.quitar-abajo{
    border-bottom: none;
}

.padding_left{
     padding-left:5px;
     line-height: normal;
}

.padding_top{
     padding-top:5px;
}

.padding_bot{
     padding-bottom:5px;
}
.padding_bot-1{
     padding-bottom:0px;
}

.padding_top-1{
     padding-top:0px;
}

.padding_top-0{
     padding-top:-5px;
}